table {
    border-spacing: 0px;
    border-collapse: collapse;
    empty-cells: show;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    }

td {
    border: 1px solid black;
    width: 20px;
    height: 20px;
    padding: 0px;
 }


body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

p {
  color: #333;
}

#container {
  width: 100%;
  height: 550px;
  position: relative;
  border: 1px solid #ccc;
  background-color: #fff;
}

#text {
  font-size: 24pt;
  text-align: center;
  margin-top: 100px;
}

#caption {
  text-align: center;
  }